{% extends "account/base.html" %}

{% load i18n static bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="boxcontent">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <h1>{% trans "Sign Up" %}</h1>
            <p class="mB20">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <form class="signup pTB12LR24 back-box" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-default">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
