.gitignore
.*
private.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
googleanalytics.js
unita-adsense.txt
data/
doc/
geojson/
icons/
richtext_blog/
utils/
bootstrap/
ol/
google/
*.bak
*.bat
*.old
*Copia.*

