{% extends "roma/roma_base.html" %}
{% load i18n static %}

{% block head_title %}{% trans "Thanks for your donation to" %} RomaPaese{% endblock %}

{% block content %}
   <div class="boxcontent">

<div class="container">
<h1>{% trans "Thanks for your donation to" %} RomaPaese</h1>
<p>Ti siamo molto grati per la tua donazione e ci sentiamo impegnati ad usarne l'importo in modo corretto e trasparente.<br>
   Ogni mese pubblicheremo l'ammontare delle donazioni
   e allegheremo al bilancio annuale il dettaglio sul loro impiego, disponibile per chi ne faccia richiesta.</p>
</div>
</div>
{% endblock content %}

