{% extends "roma/roma_base.html" %}
{% load staticfiles i18n %}


{% block head_title %}Roma - Lazio {% trans "culture, well-being, solidarity"|capfirst %}{% endblock %}

{% block extra_style %}
<style>
@media (max-width: 1440px) and (min-width: 1200px) {.box-scroll-height {height: 58vh; overflow: auto; -webkit-overflow-scrolling: touch;}}
@media (max-width: 1199px) and (min-width: 768px) {.box-scroll-height {height: 50vh; overflow: auto; -webkit-overflow-scrolling: touch;}}
@media (max-width: 768px) {.box-scroll-height {height: 30vh; overflow: auto; -webkit-overflow-scrolling: touch;}}
div.section0 {background: url('{{ MEDIA_URL }}img_home/back_home.jpg') no-repeat; background-size:cover; margin-bottom: 20px}
div.section0 > div {padding: 60px 0 40px 0}
div.section0 > div > div {width:80%; max-width:1080px; margin:auto}
div.section0 > div > div > input {width: 90%;}
@media (max-width: 560px){div.section0 > div {padding: 40px 0 40px 0} div.section0 > div > div > input {width: 82%;}}
div.section0 > div > div > div {margin-top: 30px}
div.section1 > div {padding-top:30px; padding-bottom:40px}
div.section1 h3 {margin-top:0}
div.section2 {width: 100%; margin-bottom: 30px}
div.section2 > div {padding:20px 0; margin:0 240px;}
@media (max-width: 1440px) {div.section2 > div {margin:auto}}
.img-inline {display: inline-block;}
</style>
{% endblock extra_style %}

{% block search_desktop %}{% endblock search_desktop %}
{% block search_mobile %}{% endblock search_mobile %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row section0">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div>
                    <h1 class="color-roma demiBold">{% trans "search for resources in Rome and Lazio"|capfirst %}</h1>
                    <input class="input-search" placeholder="{% trans "enter" %} 3 {% trans "characters or a few more" %}" type="text" name="q" id="navigation_autocomplete"><i class="fa fa-search icon-search" aria-hidden="true"></i>
                    <div>{{summary|safe}}</div>
                </div>
            </div>
        </div>
        <div class="container mB30">
            <div class="row section1">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="text-center color-roma fontSize72"><i class="fa fa-map-marker"></i></div>
                    <div class="text-center">
                        <h3 class="color-roma"><strong>{% trans "Suggest a resource" %}</strong></h3>
                        <p class="mB20 pLR20">{% trans "If you know useful facilities and services, you can insert them for free, helping to expand the resource map." %}</p>
                        <a href="/nuova-risorsa" class="button-resource" title="">{% trans "add now"|capfirst %}</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="text-center color-copper fontSize72"><i class="fa fa-home"></i></div>
                    <div class="text-center">
                        <h3 class="color-copper"><strong>{% trans "Promote your business" %}</strong></h3>
                        <p class="mB20 pLR20">{% trans "With RomaPaese you can gain visibility on the web and easily get in touch with new potential customers." %}</p>
                        <a href="/promuovere-attivita-roma-lazio/" class="button-activity" title="">{% trans "read more"|capfirst %}</a>
                    </div>
                </div>
            </div>
        </div>
{% block top-banner %}
{% if site_url == "www.romapaese.it" %}{% if show_element %}{% if not user.is_superuser or not user.is_staff %}
{% include 'google/anntop.html' %}
{% endif %}{% endif %}{% endif %}
{% endblock top-banner %}
    </div>
    
    <div class="section2 back-box hidden-xs">
        <div class="row row-eq-height">
            <div class="col-sm-4 col-md-4 col-lg-4 col-flex">
                <div class="back-white box-flex mLR15">
                    <h4 class="mT0 pTB12LR6 back-LightSkyBlue char-spacing text-center">{% trans "resources by theme area"|capfirst %}</h4>
                    <article id="tema" class="view-list-home box-scroll-height">
                    {% for theme_id, theme_name, theme_slug, n in by_theme_list %}
                        {% if theme_id != 49 %}
                            <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                        {% elif theme_id == 49 %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </article>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-flex" >
                <div class="back-white box-flex mLR15">
                    <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Roma"|capfirst %}</h4>
                    <div><img class="mapHome" src="{{ MEDIA_URL }}img_home/mappa_roma.jpg"></div>
                    <div id="accordion" class="mL10">
                    {% for topotype_name_plural, topotype_sublist in by_zone_list|slice:":4" %}
                        <div>
                            <h5 class="panel-home"><a href="#" class="toggleIcon"><i class="fa fa-plus-square"></i> <span>{{ topotype_name_plural|capfirst }}</span></a></h5>
                            <article id="zona_{{ forloop.counter }}" class="view-list-home box-scroll" style="{% if topotype_sublist|length > 6 %}height: 20vh; {% endif %}display:none">
                            {% for zone_code, zone_name, zone_slug, n in topotype_sublist %}
                                <p>{{ zone_name }} <small>({{ zone_code }})</small> <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                            {% endfor %}
                            </article>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-flex" >
                <div class="back-white box-flex mLR15">
                    <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Lazio"|capfirst %}</h4>
                    <div><img class="mapHome" src="{{ MEDIA_URL }}img_home/mappa_lazio.jpg"></div>
                    <article id="prov" class="view-list-home">
                    {% for zone_code, zone_name, zone_slug, n in by_prov_list %}
                        <p>{{ zone_name }} <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                    {% endfor %}
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="back-box mB30 visible-xs">
        <div class="row">
            <div class="col-xs-12">
                <div class="back-white m15">
                    <h4 class="mT0 pTB12LR6 back-LightSkyBlue char-spacing text-center">{% trans "resources by theme area"|capfirst %}</h4>
                    <article id="tema" class="view-list-home box-scroll-height">
                    {% for theme_id, theme_name, theme_slug, n in by_theme_list %}
                        {% if theme_id != 49 %}
                            <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                        {% elif theme_id == 49 %}
                            {% if request.user.is_superuser or request.user.is_staff %}
                                <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </article>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="back-white m15">
                    <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Roma"|capfirst %}</h4>
                    <div><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_roma.jpg"></div>
                    <div id="accordion" class="mL10">
                    {% for topotype_name_plural, topotype_sublist in by_zone_list|slice:":4" %}
                        <div>
                            <h5 class="panel-home"><a href="#" class="toggleIcon"><i class="fa fa-plus-square"></i> <span>{{ topotype_name_plural|capfirst }}</span></a></h5>
                            <article id="zona_{{ forloop.counter }}" class="view-list-home box-scroll" style="{% if topotype_sublist|length > 6 %}height: 20vh; {% endif %}display:none">
                            {% for zone_code, zone_name, zone_slug, n in topotype_sublist %}
                                <p>{{ zone_name }} <small>({{ zone_code }})</small> <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                            {% endfor %}
                            </article>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="back-white m15">
                    <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Lazio"|capfirst %}</h4>
                    <div><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_lazio.jpg"></div>
                    <article id="prov" class="view-list-home">
                    {% for zone_code, zone_name, zone_slug, n in by_prov_list %}
                        <p>{{ zone_name }} <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                    {% endfor %}
                    </article>
                </div>
            </div>
        </div>
    </div>
{% block bottom-banner %}
{% if site_url == "www.romapaese.it" %}{% if show_element %}{% if not user.is_superuser or not user.is_staff %}
<div class="container-fluid">
{% include 'google/annbottom.html' %}
</div>
{% endif %}{% endif %}{% endif %}
{% endblock bottom-banner %}
    {% if poitypes_spotlight %}
    <div class="container-fluid">
    <div class="container">
        <div class="row mB20">
            <div class="col-lg-12"><h1 class="text-center color-copper">{% trans "in the spotlight"|capfirst %}</h1></div>
        </div>
        <div class="hidden-xs hidden-sm visible-md visible-lg">
            <div class="row mB30 row-eq-height">
            {% for poitype_spot in poitypes_spotlight %}
                <div class="col-md-3 col-lg-3">
                    <div class="back-box box-flex mLR5 p20">
                        <div class="text-center"><img src="{{ MEDIA_URL }}{{poitype_spot.image}}" class="img-responsive img-inline"></div>
                        <h3 class="text-center"><a class="color-base" href="/categoria/{{poitype_spot.poitype.slug}}" title="{% trans "show the resources on the map by category" %}: {{ poitype_spot.poitype.name }}">{{poitype_spot.poitype.name}}</a></h3>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="hidden-xs hidden-md hidden-lg visible-sm">
            <div class="row mB30 row-eq-height">
            {% for poitype_spot in poitypes_spotlight|slice:":2" %}
                <div class="col-sm-6">
                    <div class="back-box box-flex mLR5 p20">
                        <div class="text-center"><img src="{{ MEDIA_URL }}{{poitype_spot.image}}" class="img-responsive img-inline"></div>
                        <h3 class="text-center"><a class="color-base" href="/categoria/{{poitype_spot.poitype.slug}}" title="{% trans "show the resources on the map by category" %}: {{ poitype_spot.poitype.name }}">{{poitype_spot.poitype.name}}</a></h3>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row mB30 row-eq-height">
            {% for poitype_spot in poitypes_spotlight|slice:"2:" %}
                <div class="col-sm-6">
                    <div class="back-box box-flex mLR5 p20">
                        <div class="text-center"><img src="{{ MEDIA_URL }}{{poitype_spot.image}}" class="img-responsive img-inline"></div>
                        <h3 class="text-center"><a class="color-base" href="/categoria/{{poitype_spot.poitype.slug}}" title="{% trans "show the resources on the map by category" %}: {{ poitype_spot.poitype.name }}">{{poitype_spot.poitype.name}}</a></h3>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="row mB30 visible-xs">
            {% for poitype_spot in poitypes_spotlight %}
                <div class="col-xs-12 mB10">
                    <div class="back-box p20">
                        <div class="text-center"><img src="{{ MEDIA_URL }}{{poitype_spot.image}}" class="img-responsive img-inline"></div>
                        <h3 class="text-center"><a class="color-base" href="/categoria/{{poitype_spot.poitype.slug}}" title="{% trans "show the resources on the map by category" %}: {{ poitype_spot.poitype.name }}">{{poitype_spot.poitype.name}}</a></h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    {% endif %}
{% endblock main_content %}

{% block body_scripts %}
    <script type="text/javascript">
        $(document).ready(function (){
            $('h5 a.toggleIcon').on('click', function(event){
                event.preventDefault();
                $("body").css("cursor", "default");
                var accordion = $(this).parent().parent();
                var accordionContent = accordion.children('article');
                idAccordionContent = accordionContent.attr('id');
                if ($("#accordion").find("div.open")) {
                    contentOpen = $("div.open").children('article');
                    idContent = contentOpen.attr('id');
                    if (idContent != idAccordionContent) {
                        $("div.open h5 a.toggleIcon").children('i').attr("class","fa fa-plus-square");
                        contentOpen.slideToggle(250);
                        $("div.open").toggleClass("open", false);
                    }
                }
                var accordionToggleIcon = $(this);
                accordion.toggleClass("open");
                accordionContent.slideToggle(250);
                if (accordion.hasClass("open")) {
                    accordionToggleIcon.children('i').attr("class","fa fa-minus-square");
                } else {
                    accordionToggleIcon.children('i').attr("class","fa fa-plus-square");
                }
            });
        });
    </script>
{% endblock body_scripts %} 