{% extends "roma/roma_base.html" %}
{% load staticfiles i18n %}


{% block head_title %}Roma - Lazio {% trans "culture, well-being, solidarity"|capfirst %}{% endblock %}

{% block extra_style %}
<style>
.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.col-flex {display: flex; flex-direction: column;}
.box-flex {height: 100%; flex: 1}
@media (max-width: 1440px) and (min-width: 1200px) {.box-scroll-height {height: 58vh; overflow: auto; -webkit-overflow-scrolling: touch;}}
@media (max-width: 1199px) and (min-width: 768px) {.box-scroll-height {height: 50vh; overflow: auto; -webkit-overflow-scrolling: touch;}}
@media (max-width: 768px) {.box-scroll-height {height: 30vh; overflow: auto; -webkit-overflow-scrolling: touch;}}
div.res-map {position:absolute; bottom:0; width: 100%; padding:6px; background:rgba(255,255,255,0.8); font-weight: 600;}
div.res-title {padding-right: 5px;}
table.res-news {border-collapse: separate; border-spacing: 30px 0; margin-left: -15px; margin-right: -15px;}
</style>
{% endblock extra_style %}

{% block top-banner %}{% endblock top-banner %}

{% block content %}

    <div class="mLR-15">
        <div><img src="{{ MEDIA_URL }}home.jpg" class="img-responsive"></div>
        <div class="mLR30">{{ summary|safe }}</div>
    </div>
    <div class="boxcontent">
    <div class="hidden-xs hidden-sm hidden-md visible-lg">
        <div class="row row-eq-height mB30">
            <div class="col-lg-3 col-flex">
                <div class="back-box box-flex">
                    <h4 class="mT0 pTB12LR6 back-LightSkyBlue char-spacing text-center">{% trans "resources by theme area"|capfirst %}</h4>
                    <article id="tema" class="view-list box-scroll-height">
                    {% for theme_id, theme_name, theme_slug, n in by_theme_list %}
                    {% if theme_id != 49 %}
                        <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                    {% elif theme_id == 49 %}
                        {% if request.user.is_superuser or request.user.is_staff %}
                            <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-flex">
                <div class="back-box box-flex">
                <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Roma"|capfirst %}</h4>
                <div><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_roma.jpg"></div>
                <div id="accordion" class="mL10">
                {% for topotype_name_plural, topotype_sublist in by_zone_list|slice:":4" %}
                    <div>
                        <h5 class="color-base mT0 pTBLR10 demiBold"><a href="#" class="toggleIcon"><i class="fa fa-plus-square"></i></a> {{ topotype_name_plural|capfirst }}</h5>
                        <article id="zona_{{ forloop.counter }}" class="view-list box-scroll" style="{% if topotype_sublist|length > 6 %}height: 20vh; {% endif %}display:none">
                        {% for zone_code, zone_name, zone_slug, n in topotype_sublist %}
                            <p>{{ zone_name }} <small>({{ zone_code }})</small> <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                        {% endfor %}
                        </article>
                    </div>
                {% endfor %}
                </div>
                </div>
            </div>
            <div class="col-lg-3 col-flex">
                <div class="back-box box-flex">
                    <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Lazio"|capfirst %}</h4>
                    <div><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_lazio.jpg"></div>
                    <article id="prov" class="view-list">
                    {% for zone_code, zone_name, zone_slug, n in by_prov_list %}
                        <p>{{ zone_name }} <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                    {% endfor %}
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="mT0 pTB12LR6 back-copper color-white char-spacing text-center">{% trans "in the spotlight"|capfirst %}</h4>
                <div class="back-copper pB2">
                {% for poitype in poitype_list %}
                    <div class="text-center mB10" style="position:relative"><a href="/categoria/{{poitype.slug}}/" title="{% trans "show the resources on the map by category" %}: {{ poitype.name }}"><img class="mapHome" src="{{ MEDIA_URL }}mappe/{{poitype.slug}}.jpg"></a><div class="res-map"><a href="/categoria/{{poitype.slug}}/" title="{% trans "show the resources on the map by category" %}: {{ poitype.name }}">{{ poitype.name }}</a></div></div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row back-box mLR0 pB20">
            <h4 class="mT0 pTB12LR6 color-roma char-spacing text-center">{% trans "featured resources"|capfirst %}</h4>
            {% for poi in pois_list %}
            <div class="col-lg-4">
                <div class="row row-eq-height m0 border-roma back-white">
                    <div class="col-lg-6 pR0">
                        <div class="res-title">
                            <h4 class="fontSize15"><a href="{{poi.url}}" title="{% trans "show resource" %}"><span class="notranslate">{{ poi.name }}</span></a></h4>
                            <address class="fontSize13 mT10"><span class="notranslate">{{poi.street_address}} - {{poi.cap}} {{poi.comune.0}}</span></address>
                        </div>
                    </div>
                    <div class="col-lg-6 pLR0">
                        <a href="{{poi.url}}" title="{% trans "show resource" %}"><img class="mapHome" src="{{ MEDIA_URL }}mappe/{{poi.slug}}.jpg"></a>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="hidden-xs hidden-sm hidden-lg visible-md">
        <div class="row row-eq-height mB30">
            <div class="col-md-4 col-flex">
                <div class="back-box box-flex">
                    <h4 class="mT0 pTB12LR6 back-LightSkyBlue color-base char-spacing text-center">{% trans "resources by theme area"|capfirst %}</h4>
                    <article id="tema" class="view-list box-scroll-height">
                    {% for theme_id, theme_name, theme_slug, n in by_theme_list %}
                    {% if theme_id != 49 %}
                        <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                    {% elif theme_id == 49 %}
                        {% if request.user.is_superuser or request.user.is_staff %}
                            <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    </article>
                </div>
            </div>
            <div class="col-md-4 col-flex">
                <div class="back-box box-flex">
                <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Roma"|capfirst %}</h4>
                <div><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_roma.jpg"></div>
                <div id="accordion" class="mL10">
                {% for topotype_name_plural, topotype_sublist in by_zone_list|slice:":4" %}
                    <div>
                        <h5 class="color-base mT0 pTBLR10 demiBold"><a href="#" class="toggleIcon"><i class="fa fa-plus-square"></i></a> {{ topotype_name_plural|capfirst }}</h5>
                        <article id="zona_{{ forloop.counter }}" class="view-list box-scroll" style="{% if topotype_sublist|length > 6 %}height: 20vh; {% endif %}display:none">
                        {% for zone_code, zone_name, zone_slug, n in topotype_sublist %}
                            <p>{{ zone_name }} <small>({{ zone_code }})</small> <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                        {% endfor %}
                        </article>
                    </div>
                {% endfor %}
                </div>
            </div>
            </div>
            <div class="col-md-4 col-flex">
                <div class="back-box box-flex">
                    <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Lazio"|capfirst %}</h4>
                    <div><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_lazio.jpg"></div>
                    <article id="prov" class="view-list">
                    {% for zone_code, zone_name, zone_slug, n in by_prov_list %}
                        <p>{{ zone_name }} <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                    {% endfor %}
                    </article>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4 col-flex">
                <div class="box-flex">
                <h4 class="mT0 pTB12LR6 back-copper color-white char-spacing text-center">{% trans "in the spotlight"|capfirst %}</h4>
                {% for poitype in poitype_list %}
                    <div class="text-center mB10" style="position:relative"><a href="/categoria/{{poitype.slug}}/" title="{% trans "show the resources on the map by category" %}: {{ poitype.name }}"><img class="mapHome" src="{{ MEDIA_URL }}mappe/{{poitype.slug}}.jpg"></a><div class="res-map"><a href="/categoria/{{poitype.slug}}/" title="{% trans "show the resources on the map by category" %}: {{ poitype.name }}">{{ poitype.name }}</a></div></div>
                {% endfor %}
            </div>
            </div>
            <div class="col-md-8 col-flex">
                <div class="back-LightSkyBlue box-flex">
                    <h4 class="mT0 pTB12LR6 color-base char-spacing text-center">{% trans "featured resources"|capfirst %}</h4>
                    <table class="res-news">
                        <tbody>
                            <tr>
                            {% for poi in pois_list|slice:"2" %}
                                <td class="back-box" style="vertical-align:top;">
                                    <a href="{{poi.url}}" title="{% trans "show resource" %}"><img class="mapHome" src="{{ MEDIA_URL }}mappe/{{poi.slug}}.jpg"></a>
                                    <div class="pTB12LR6">
                                        <h4 class="fontSize15"><a href="{{poi.url}}" title="{% trans "show resource" %}"><span class="notranslate">{{ poi.name }}</span></a></h4>
                                        <address class="mT10 fontSize13"><span class="notranslate">{{poi.street_address}} - {{poi.cap}} {{poi.comune.0}}</span></address>

                                    </div>
                                </td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs hidden-md hidden-lg visible-sm">
            <div class="row row-eq-height mB30">
            <div class="col-sm-4 col-flex">
                <div class="back-box box-flex">
                <h4 class="mT0 pTB12LR6 back-LightSkyBlue color-base char-spacing text-center">{% trans "resources by theme area"|capfirst %}</h4>
                <article id="tema" class="view-list box-scroll-height">
                {% for theme_id, theme_name, theme_slug, n in by_theme_list %}
                    {% if theme_id != 49 %}
                        <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                    {% elif theme_id == 49 %}
                        {% if request.user.is_superuser or request.user.is_staff %}
                            <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </article>
            </div>
            </div>
            <div class="col-sm-4 col-flex">
                <div class="back-box box-flex">
                <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Roma"|capfirst %}</h4>
                <div><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_roma.jpg"></div>
                <div id="accordion" class="mL10">
                {% for topotype_name_plural, topotype_sublist in by_zone_list|slice:":4" %}
                    <div>
                        <h5 class="color-base mT0 pTBLR10 demiBold"><a href="#" class="toggleIcon"><i class="fa fa-plus-square"></i></a> {{ topotype_name_plural|capfirst }}</h5>
                        <article id="zona_{{ forloop.counter }}" class="view-list box-scroll" style="{% if topotype_sublist|length > 6 %}height: 20vh; {% endif %}display:none">
                        {% for zone_code, zone_name, zone_slug, n in topotype_sublist %}
                            <p>{{ zone_name }} <small>({{ zone_code }})</small> <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                        {% endfor %}
                        </article>
                    </div>
                {% endfor %}
                </div>
            </div>
            </div>
            <div class="col-sm-4 col-flex">
                <div class="back-box box-flex">
                <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Lazio"|capfirst %}</h4>
                <div class="back-box"><img class="mapHome" src="{{ MEDIA_URL }}mappe/mappa_lazio.jpg"></div>
                <article id="prov" class="view-list">
                {% for zone_code, zone_name, zone_slug, n in by_prov_list %}
                    <p>{{ zone_name }} <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                {% endfor %}
                </article>
            </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-sm-4 col-flex">
                <div class="box-flex back-copper">
                <h4 class="mT0 pTB12LR6 back-copper color-white char-spacing text-center">{% trans "in the spotlight"|capfirst %}</h4>
                {% for poitype in poitype_list %}
                    <div class="text-center mB10" style="position:relative"><a href="/categoria/{{poitype.slug}}/" title="{% trans "show the resources on the map by category" %}: {{ poitype.name }}"><img class="mapHome" src="{{ MEDIA_URL }}mappe/{{poitype.slug}}.jpg"></a><div class="res-map"><a href="/categoria/{{poitype.slug}}/" title="{% trans "show the resources on the map by category" %}: {{ poitype.name }}">{{ poitype.name }}</a></div></div>
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-8 col-flex">
                <div class="back-LightSkyBlue box-flex">
                    <h4 class="mT0 pTB12LR6 color-base char-spacing text-center">{% trans "featured resources"|capfirst %}</h4>
                    <table class="res-news">
                        <tbody>
                            <tr>
                            {% for poi in pois_list|slice:"2" %}
                                <td class="back-white" style="vertical-align:top;">
                                    <a href="{{poi.url}}" title="{% trans "show resource" %}"><img class="mapHome" src="{{ MEDIA_URL }}mappe/{{poi.slug}}.jpg"></a>
                                    <div class="pTB12LR6">
                                        <h4 class="fontSize15"><a href="{{poi.url}}" title="{% trans "show resource" %}"><span class="notranslate">{{ poi.name }}</span></a></h4>
                                        <address class="mT10 fontSize13"><span class="notranslate">{{poi.street_address}} - {{poi.cap}} {{poi.comune.0}}</span></address>
                                    </div>
                                </td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg visible-xs">
        <div class="back-box mB20">
            <h4 class="mT0 pTB12LR6 back-LightSkyBlue color-base char-spacing text-center">{% trans "resources by theme area"|capfirst %}</h4>
            <article id="tema" class="view-list box-scroll-height">
            {% for theme_id, theme_name, theme_slug, n in by_theme_list %}
            {% if theme_id != 49 %}
                <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                {% elif theme_id == 49 %}
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <p>{{ theme_name|capfirst }} <span class="text-pre-wrap">[ <a href="/tema/{{ theme_slug }}/" title="{% trans "show an index of resources for" %}: {{ theme_name }}">{{ n }}</a> ]</span></p>
                        {% endif %}
                {% endif %}
                {% endfor %}
            </article>
        </div>
        <div class="back-box mB20">
            <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Roma"|capfirst %}</h4>
            <div id="accordion" class="mL10">
            {% for topotype_name_plural, topotype_sublist in by_zone_list|slice:":4" %}
                <div>
                    <h5 class="color-base mT0 pTBLR10 demiBold"><a href="#" class="toggleIcon"><i class="fa fa-plus-square"></i></a> {{ topotype_name_plural|capfirst }}</h5>
                    <article id="zona_{{ forloop.counter }}" class="view-list box-scroll" style="{% if topotype_sublist|length > 6 %}height: 20vh; {% endif %}display:none">
                    {% for zone_code, zone_name, zone_slug, n in topotype_sublist %}
                        <p>{{ zone_name }} <small>({{ zone_code }})</small> <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
                    {% endfor %}
                    </article>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="back-box mB20">
            <h4 class="mT0 pTB12LR6 back-Zone color-white char-spacing text-center">{% trans "resources by zones of Lazio"|capfirst %}</h4>
            <article id="prov" class="view-list">
            {% for zone_code, zone_name, zone_slug, n in by_prov_list %}
                <p>{{ zone_name }} <span class="text-pre-wrap">[ <a href="/indice-zona/{{ zone_slug }}/" title="{% trans "show an index of resources in the zone" %}: {{ zone_name }}">{{ n }}</a> ]</span></p>
            {% endfor %}
            </article>
        </div>
        <div class="back-box mB20">
            <h4 class="mT0 pTB12LR6 back-copper color-white char-spacing text-center">{% trans "in the spotlight"|capfirst %}</h4>
            <article id="prov" class="view-list">
            {% for poitype in poitype_list %}
                <p><a href="/categoria/{{poitype.slug}}/" title="{% trans "show the resources on the map by category" %}: {{ poitype.name }}">{{ poitype.name }}</a></p>
            {% endfor %}
            </article>
        </div>
        <div class="back-box mB20">
            <h4 class="mT0 pTB12LR6 back-LightSkyBlue color-base char-spacing text-center">{% trans "featured resources"|capfirst %}</h4>
            <article id="prov" class="view-list">
            {% for poi in pois_list %}
                <div class="mL20">
                    <h4 class="fontSize15"><a href="{{poi.url}}" title="{% trans "show resource" %}"><span class="notranslate">{{ poi.name }}</span></a></h4>
                    <address class="mT10 fontSize13"><span class="notranslate">{{poi.street_address}} - {{poi.cap}} {{poi.comune.0}}</span></address>
                </div>
            {% endfor %}
            </article>
        </div>
    </div>
    </div>
{% endblock content %}

{% block body_scripts %}
    <script type="text/javascript">
        $(document).ready(function (){
            $('h5 a.toggleIcon').on('click', function(event){
                event.preventDefault();
                $("body").css("cursor", "default");
                var accordion = $(this).parent().parent();
                var accordionContent = accordion.children('article');
                idAccordionContent = accordionContent.attr('id');
                if ($("#accordion").find("div.open")) {
                    contentOpen = $("div.open").children('article');
                    idContent = contentOpen.attr('id');
                    if (idContent != idAccordionContent) {
                        $("div.open h5 a.toggleIcon").children('i').attr("class","fa fa-plus-square");
                        contentOpen.slideToggle(250);
                        $("div.open").toggleClass("open", false);
                    }
                }
                var accordionToggleIcon = $(this);
                accordion.toggleClass("open");
                accordionContent.slideToggle(250);
                if (accordion.hasClass("open")) {
                    accordionToggleIcon.children('i').attr("class","fa fa-minus-square");
                } else {
                    accordionToggleIcon.children('i').attr("class","fa fa-plus-square");
                }
            });
        });
    </script>
{% endblock body_scripts %} 