{% load i18n staticfiles %}
<div class="hidden-xs hidden-sm visible-md visible-lg mT10">
<dl class="back-Zone mB20">
<dt class="text-center fontSize18 color-white">{% trans "sponsors"|capfirst %}</dt>
<dd class="back-white text-center"><a href="/risorsa/officina-edizioni/" title="{% trans "show resource" %}: Officina Edizioni"><img src="/media/logos/logo_oe.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="back-Zone text-center fontSize16 color-white"><a href="/project/sponsor/" class="color-white">Diventa Sponsor<br>ti conviene!</a></dd>
</dl>
<dl class="back-LightSkyBlue mT20 pB20">
<dt class="text-center fontSize18 color-base">{% trans "partners"|capfirst %}</dt>
<dd class="text-center"><a href="http://digilab.uniroma1.it" title="DigiLab-Sapienza" target="_blank"><img src="{{MEDIA_URL}}logos/logo_digilab.jpg" alt="logo DigiLab-Sapienza" class="img-responsive img-inline"></a></dd>
</dl>
<dl class="mTB60">
<dd class="text-center"><a href="/help/ads/" title=""><img src="{{MEDIA_URL}}adsense-million.jpg" alt="" class="img-responsive img-inline"></a></dd>
</dl>
<dl class="pTB20 mB0 back-copper">
<dd class="mB20 text-center"><a href="/risorsa/biblioteche-di-roma/" title="{% trans "show resource" %}: Biblioteche di Roma"><img src="{{MEDIA_URL}}logos/logo_bibliotechediroma.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="mB20 text-center"><a href="/risorsa/legacoopsociali-lazio/" title="{% trans "show resource" %}: Legacoop sociale"><img src="{{MEDIA_URL}}logos/logo_legacoopsociali.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="text-center"><a href="/risorsa/caritas-diocesana-di-roma/" title="{% trans "show resource" %}: Caritas diocesana di Roma"><img src="{{MEDIA_URL}}logos/logo_caritasroma.png" alt="" class="img-responsive img-inline"></a></dd>
</dl>
</div>
<div class="hidden-xs hidden-md hidden-lg visible-sm mT10">
<div class="row">
<div class="col-sm-6">
<dl class="back-Zone mB20">
<dt class="text-center fontSize18 color-white">{% trans "sponsors"|capfirst %}</dt>
<dd class="back-white text-center"><a href="/risorsa/officina-edizioni/" title="{% trans "show resource" %} Officina Edizioni"><img src="/media/logos/logo_oe.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="back-Zone text-center fontSize16 color-white"><a href="/project/sponsor/" class="color-white">Diventa Sponsor<br>ti conviene!</a></dd>
</dl>
<dl class="back-LightSkyBlue mT20 pB20">
<dt class="text-center fontSize18 color-base">{% trans "partners"|capfirst %}</dt>
<dd class="text-center"><a href="http://digilab.uniroma1.it" title="DigiLab-Sapienza"><img src="{{MEDIA_URL}}logos/logo_digilab.jpg" alt="logo DigiLab-Sapienza" class="img-responsive img-inline"></a></dd>
</dl>
<dl class="mTB60">
<dd class="text-center"><a href="/help/ads/" title=""><img src="{{MEDIA_URL}}adsense-million.jpg" alt="" class="img-responsive img-inline"></a></dd>
</dl>
</div>
<div class="col-sm-6">
<dl class="pTB20 mB0 back-copper">
<dd class="mB20 text-center"><a href="/risorsa/biblioteche-di-roma/" title="{% trans "show resource" %} Biblioteche di Roma"><img src="{{MEDIA_URL}}logos/logo_bibliotechediroma.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="mB20 text-center"><a href="/risorsa/legacoopsociali-lazio/" title="{% trans "show resource" %} Legacoop sociale"><img src="{{MEDIA_URL}}logos/logo_legacoopsociali.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="text-center"><a href="/risorsa/caritas-diocesana-di-roma/" title="{% trans "show resource" %} Caritas diocesana di Roma"><img src="{{MEDIA_URL}}logos/logo_caritasroma.png" alt="" class="img-responsive img-inline"></a></dd>
</dl>
</div>
</div>
</div>
<div class="hidden-sm hidden-md hidden-lg visible-xs text-center mLR15">
<div class="box-partner">
<dl class="back-Zone mB20">
<dt class="text-center fontSize18 color-white">{% trans "sponsors"|capfirst %}</dt>
<dd class="text-center back-white"><a href="/risorsa/officina-edizioni/" title="{% trans "show resource" %} Officina Edizioni"><img src="/media/logos/logo_oe.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="back-Zone text-center fontSize16 color-white"><a href="/project/sponsor/" class="color-white">Diventa Sponsor<br>ti conviene!</a></dd>
</dl>
<dl class="back-LightSkyBlue mT20 pB20">
<dt class="text-center fontSize18 color-base">{% trans "partners"|capfirst %}</dt>
<dd class="text-center back-white"><a href="http://digilab.uniroma1.it" title="DigiLab-Sapienza"><img src="{{MEDIA_URL}}logos/logo_digilab.jpg" alt="logo DigiLab-Sapienza" class="img-responsive img-inline"></a></dd>
</dl>
</div>
<dl class="mTB60">
<dd class="text-center"><a href="/help/ads/" title=""><img src="{{MEDIA_URL}}adsense-million.jpg" alt="" class="img-responsive img-inline"></a></dd>
</dl>
<dl class="box-partner pTB20 mB0 back-copper">
<dd class="mB20 text-center back-white"><a href="/risorsa/biblioteche-di-roma/" title="{% trans "show resource" %} Biblioteche di Roma"><img src="{{MEDIA_URL}}logos/logo_bibliotechediroma.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="mB20 text-center back-white"><a href="/risorsa/legacoopsociali-lazio/" title="{% trans "show resource" %} Legacoop sociale"><img src="{{MEDIA_URL}}logos/logo_legacoopsociali.png" alt="" class="img-responsive img-inline"></a></dd>
<dd class="text-center back-white"><a href="/risorsa/caritas-diocesana-di-roma/" title="{% trans "show resource" %} Caritas diocesana di Roma"><img src="{{MEDIA_URL}}logos/logo_caritasroma.png" alt="" class="img-responsive img-inline"></a></dd>
</dl>
</div>
