{% load i18n staticfiles %}
<dl class="back-Zone mB20">
<dt class="text-center fontSize18 color-white">{% trans "sponsors"|capfirst %}</dt>
<dd class="back-white"><a href="/risorsa/officina-edizioni/" title="{% trans "show resource" %} Officina Edizioni"><img src="/media/logos/logo_oe.png" alt="logo Officina Edizioni" class="img-responsive"></a></dd>
<dd class="back-Zone text-center fontSize16 color-white"><a href="/project/sponsor/" class="color-white">Diventa Sponsor<br>ti conviene!</a></dd>
</dl>
<dl class="back-LightSkyBlue mT20 pB20">
<dt class="text-center fontSize18 color-base">{% trans "partners"|capfirst %}</dt>
<dd><a href="http://digilab.uniroma1.it" title="DigiLab-Sapienza"><img src="{{MEDIA_URL}}logos/logo_digilab.jpg" alt="logo DigiLab-Sapienza" class="img-responsive"></a></dd>
</dl>
<dl class="mTB60">
<dd><a href="/help/ads/" title=""><img src="{{MEDIA_URL}}adsense-million.jpg" alt="" class="img-responsive"></a></dd>
</dl>

<dl class="pTB20 mB0 back-copper">
<dd class="mB20"><a href="/risorsa/biblioteche-di-roma/" title="{% trans "show resource" %} Biblioteche di Roma"><img src="{{MEDIA_URL}}logos/logo_bibliotechediroma.png" alt="" class="img-responsive"></a></dd>
<dd class="mB20"><a href="/risorsa/legacoopsociali-lazio/" title="{% trans "show resource" %} Legacoop sociale"><img src="{{MEDIA_URL}}logos/logo_legacoopsociali.png" alt="" class="img-responsive"></a></dd>
<dd><a href="/risorsa/caritas-diocesana-di-roma/" title="{% trans "show resource" %} Caritas diocesana di Roma"><img src="{{MEDIA_URL}}logos/logo_caritasroma.png" alt="" class="img-responsive"></a></dd>
</dl>