{% load i18n staticfiles %}
<dl class="back-Zone mB20">
<dt class="text-center" style="font-size:18px; color: white;">{% trans "sponsors"|capfirst %}</dt>
<dd style="background:white"><a href="/risorsa/officina-edizioni/" title="{% trans "show resource" %} Officina Edizioni"><img src="/media/logos/logo_oe.png" alt="logo Officina Edizioni" class="img-responsive" style="width:100%;"></a></dd>
<dd class="back-Zone text-center" style="font-size:16px; color: white;"><a href="/project/sponsor/" style="color:white">Diventa Sponsor<br>ti conviene!</a></dd>
</dl>
<dl class="back-LightSkyBlue" style="margin-top: 20px; padding-bottom: 20px;">
<dt class="text-center" style="font-size:18px; color: #333;">{% trans "partners"|capfirst %}</dt>
<dd><a href="http://digilab.uniroma1.it" title="DigiLab-Sapienza"><img src="/media/logos/logo_digilab.jpg" alt="logo DigiLab-Sapienza" class="img-responsive"></a></dd>
</dl>
<dl class="mTB40">
<dd><a href="/help/ads/" title=""><img src="/media/logos/adsense-million.gif" alt="" class="img-responsive" style="width: 100%;"></a></dd>
</dl>

<dl style="padding-top: 20px; padding-bottom: 20px;  margin-bottom: 0; background: #B5813A">
<dd class="mB20"><a href="/risorsa/biblioteche-di-roma/" title="{% trans "show resource" %} Biblioteche di Roma"><img src="/media/logos/logo_bibliotechediroma.png" alt="" class="img-responsive"></a></dd>
<dd class="mB20"><a href="/risorsa/legacoopsociali-lazio/" title="{% trans "show resource" %} Legacoop sociale"><img src="/media/logos/logo_legacoopsociali.png" alt="" class="img-responsive"></a></dd>
<dd><a href="/risorsa/caritas-diocesana-di-roma/" title="{% trans "show resource" %} Caritas diocesana di Roma"><img src="/media/logos/logo_caritasroma.png" alt="" class="img-responsive"></a></dd>
</dl>